{% extends 'base.html' %}
{% block body_block %}
{% load static %}

<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
{{object.title|truncatechars:30}}
    </span>

  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">
    <div class="breadcrumbs">
    <a href="{% url 'news:news_list' %}">Home</a>
&rsaquo; <a href="{% url 'suggestions:postlist' %}">Message board</a>
     &rsaquo; <span>{{object.title}}</span>
    </div>
</span>
  </div>
</div>

<div class="content-container content-container--paginated">
  <a class="buttonn" href="{% url 'suggestions:postlist' %}">
    <div class="doc secondary-hover">

      Back</div>
  </a>
  <div class="pA idea">
    <div class="idea__left">
      <img src="{{object.author.userprofile.profile_pic.url}}" alt="" class="avatar">
      <div class="avatar__name">
        {{object.author.userprofile.name}}
      </div>
      <div class="idea__info">
        {{object.date_created}}


      </div>
    </div>
    <div class="idea__right">


      <div class="pH">
        <div class="pT">
          {{object.title}}
        </div>


      </div>
      <div class="pAb">



        {{object.body}}

      </div>

    </div>
  </div>
  <div class="comment-margin">

  </div>

  {% for each in object.comments.all %}
  <div class="pA  comment">
    <div class="idea__left">
      <img src="{{each.author.userprofile.profile_pic.url}}" alt="" class="avatar">
      <div class="avatar__name">
        {{each.author.userprofile.name}}
      </div>
      <div class="idea__info">
        {{each.date_created}}


      </div>
    </div>
    <div class="idea__right">



      <div class="pAb">



        {{each.body}}

      </div>

    </div>
  </div>


  {% endfor %}


  <a class="buttonn" href="{% url "suggestions:postcomment" pk=object.pk %}">
    <div class="doc secondary-hover">Add a comment</div>
  </a>





</div>

{% endblock %}
