{% extends 'base.html' %}
{% block extra_css %} .nav__link[name="Q&A"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}


<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Message Board
    </span>
    <span class="site-header__subtitle">/ Communicate!</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">
    <div class="breadcrumbs">
    <a href="{% url 'news:news_list' %}">Home</a>

     &rsaquo; <span>Message Board</span>
    </div>
</span>
  </div>
</div>

<div class="content-container content-container--paginated">

  <div class="Ccard">

    <div class="Ccard_header">


      <div class="Ccard_title">
        Categories

      </div>
    </div>
    <div class="Ccard_body">
      <div class="doc_grid">
        <div class="doc secondary-hover">
          <a href="{% url 'suggestions:postlist'  %}">

            <span> All</span>

          </a>
        </div>
        {% for each in categories %}

        <a class="buttonn" href="{{ each.get_absolute_url }}">
          <div class="doc secondary-hover">
            <span> {{ each.title}}</span>


          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <a class="buttonn" href="{% url 'suggestions:postform' %}">
    <div class="doc secondary-hover">Add a post</div>
  </a>



  {% for post in object_list %}
  <div class="pA idea">
    <div class="idea__left">
      <img src="{{post.author.userprofile.profile_pic.url}}" alt="" class="avatar">
      <div class="avatar__name">
        {{post.author.userprofile.name}}
      </div>
      <div class="idea__info">
        {{post.date_created|date:"d.m.Y"}}

        <div>no of replies: {% if post.comments.count %}
          {{post.comments.count}}
          {% else %}
          0{%endif%}</div>
      </div>
    </div>
    <div class="idea__right">

      <a href="{{ post.get_absolute_url }}">
        <div class="pH">
          <div class="pT">
            {{post.title}}
          </div>


        </div>
      </a>
      <div class="pAb">



        {{post.body|truncatewords:100}}

      </div>

    </div>
  </div>

  {% endfor %}
  <div class="pag-wrapper"> {% if is_paginated %}



    <ul class="pagination">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">
        <li class="secondary-hover">&laquo;</li>
      </a>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="active pagi__number"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <a href="?page={{ i }}">
        <li class="secondary-hover">{{ i }}</li>
      </a>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">
        <li class="secondary-hover">&raquo;</li>
      </a>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>

    {% endif %}
  </div>
</div>{% if object_list.count <= 7 %}
<div class="site-filler">

</div>
{% endif %}




</div>




{% endblock %}
