{% extends 'base.html' %}
{% block body_block %}
<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
    Create a Post
    </span>

  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">
    <div class="breadcrumbs">
    <a href="{% url 'news:news_list' %}">Home</a>
&rsaquo; <a href="{% url 'suggestions:postlist' %}">Message Board</a>
     &rsaquo; <span>Create a Post</span>
    </div>
</span>
  </div>
</div>

<div class="form-container">


<form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
{% endblock %}
