{% extends 'base.html' %}
{% block extra_css %} .nav__link[name="Contact List"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}




<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Contact List
    </span>
    <span class="site-header__subtitle">/ Directory of employees</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">

    <div class="breadcrumbs">
    <a href="{% url 'news:news_list' %}">Home</a>
     &rsaquo; <span>{{title}}</span>
    </div>
</span>
  </div>
</div>



<div class="content-container content-container--paginated">



  <div class="Ccard">
    <div class="Ccard_header">
      <div class="Ccard_title">
        List of employees

      </div>

    </div>
    <div class="Ccard_body">
      <div class="searchbar">
        <form action="{% url 'accounts:employees' %}" method="get">
          <input id="searchbar" name="q" type="text" placeholder="Search...">
          <button type="submit" id="search-submit" class="doc fabutton secondary-hover">
            <i class="fas fa-search"></i>
          </button>

        </form>
      </div>

      <div class="knowledge-table">
        <table id="contact-table" class="content-table">
          <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Contact Number</th>
            <th>Position</th>
            <th>Departament</th>
            <th>location</th>
            <th>Email adress</th>
          </tr>

          {% for each in object_list %}
          <tr>
            <td> <img class="avatar" src="{{each.profile_pic.url}}" alt="Av" /></td>
            <td> {{each.name}}</td>
            <td> <a href="callto:{{each.telephone}}">{{each.telephone}}</a> </td>
            <td>{{each.position}}</td>
            <td> {{each.get_departament_display}}</td>
            <td> {{each.get_location_display}}</td>
            <td><a href="mailto:{{each.email}}">{{each.email}}</a></td>
          </tr>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
  <div class="pag-wrapper"> {% if is_paginated %}

    <ul class="pagination">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">
        <li class="secondary-hover">&laquo;</li>
      </a>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="active pagi__number"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <a href="?page={{ i }}">
        <li class="secondary-hover">{{ i }}</li>
      </a>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">
        <li class="secondary-hover">&raquo;</li>
      </a>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>

    {% endif %}
  </div>
</div>
{% endblock %}
