{% extends 'base.html' %}
{% block extra_css %} .nav__link[name="Calendar"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}

<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Calendar
    </span>
    <span class="site-header__subtitle">/ company events</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">
      <div class="breadcrumbs">
        <a href="{% url 'news:news_list' %}">Home</a>
        &rsaquo;
        <span> Calendar</span>

      </div>
    </span>
  </div>
</div>


<div class="content-container content-container--paginated">

  <div class="content-wrapper">



    <div class="calendar__date">
      <a href="{% url 'calendary:calendary' month=prevmonth  year=prevyear %}"><i class="fas fa-arrow-circle-left"></i></a>
      {{date}}
      <a class="buttonn " href="{% url 'calendary:calendary' month=nextmonth  year=nextyear %}"><i class="fas fa-arrow-circle-right"></i></a>

    </div>
    <div class="cal__wrapper">


      <div class="calendar__container">

        <div class="calendar__headline">
          Monday
        </div>
        <div class="calendar__headline">
          Tuesday
        </div>
        <div class="calendar__headline">
          Wednesday
        </div>
        <div class="calendar__headline">
          Thursday
        </div>
        <div class="calendar__headline">
          Friday
        </div>
        <div class="calendar__headline">
          Saturday
        </div>
        <div class="calendar__headline">
          Sunday
        </div>


        <!-- styling squares from other months than displayed -->
        {% for each in object_list %}

        {% if forloop.counter <= before %}

        <div class="cal_dif">
          <div class="date__inside">
            {{each.date|date:"j M" }}
          </div>
          {% elif forloop.counter >= after %}
          <div class="cal_dif_later">
            <div class="date__inside">
              {{each.date|date:"j M" }}
            </div>
            {% else %}
            <div class="date">
              <div class="date__inside">
                {{each.date|date:"j" }}
                {% if request.user|has_group:"Managers" %}
                <a class="cala" href="{% url 'calendary:post_devent' pk=each.pk %}"><i class="far fa-plus-square"></i></a>
                {% endif %}
              </div>
              {% endif %}


              {% for event in each.events.all|dictsort:"start" %}

              <div class="event">

                <a class="buttonn" href="{{ event.get_absolute_url }}">
                  <div class="devent secondary-hover">{{event.title|truncatechars:20}} </div>
                </a>

              </div>

              {% endfor %}

            </div>
            {% endfor %}
          </div>
        </div>
      </div>



      {% endblock %}
