{% extends 'base.html' %}
{% block extra_css %} .nav__link[name="Calendar"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}
<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Calendar
    </span>
    <span class="site-header__subtitle">/ Event</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">Home page</span>
  </div>
</div>





<div class="content-container">

  <div class="Ccard">

    <div class="Ccard_header">


      <div class="Ccard_title">
        {{object.title}}
        <div class="Ccard_subtitle">
          {{object.start|date:"H:i"}} - {{object.end|date:"H:i"}}
        </div>



      </div>
    </div>
    <div class="Ccard_body">

      {{object.description}}


    </div>
  </div>


</div>

{% endblock %}
