
{% extends 'base.html' %}
{% block extra_css %}  .nav__link[name="Files"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}
<div class="site-header">


    <span class="category-title">
    Home
    </span>
    <span class="category-subtitle">/ Company News</span>
  </div>

<div class="content-container">


  <div class="objecta">

  </div>
  <div class="category-grid">
  {% for each in categories %}
  <div class="board__category">
    <a href="{% url 'suggestions:category' pk=each.pk %}">
    <i class="{{each.icon}}"></i>
    <span>  {{ each.title}}</span>

  </a>
  </div>

  {% endfor %}
  </div><div class="file__wrapper">
{% for each in object_list %}
<div class="file">
      <a href="{{each.file.url}}" download="kupka">{{each.title}}</a>
</div>
{% endfor %}
</div>






{% endblock %}
