
{% extends 'base.html' %}
{% block extra_css %}  .nav__link[name="Home"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}
<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Home
    </span>
    <span class="site-header__subtitle">/ Company News</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">Home page</span>
  </div>
</div>



<div class="content-container">
  <div class="objecta">

  </div>

  <div class="Ccard">
    <div class="Ccard_header primary-hover">


      <div class="Ccard_title">
        {{news.title }}
      </div>
      <div class="Ccard_subtitle">
        {% if news.published_date %}
        {{news.published_date}}
        {% endif %}
      </div>
    </div>
    <div class="Ccard_body">
      {% if not news.published_date %}

      <a href="{% url 'news:publish' pk=news.pk %}">publish</a>
      {% endif %}
      {{news.body | safe}}

  {% if news.files.all %}
      <div class="Ccard_divider">

      </div>
      <div class="Ccard_subtitle">
        Attached files
      </div>
      {% endif %}
      <div class="Ccard_file-container">

        {% for each in news.files.all %}

        <div class="Ccard_file">
          {% if each.extension == 'image' %}
          <img src="{{each.miniature}}" >
          <p><a href="{{each.file.get_absolute_url}}" download>Download</a></p>

          {% elif each.extension == 'pdf' %}
          <img src="{% static 'media/pdf-icon.png' %}" >
          <p><a href="{{each.file.get_absolute_url}}" download>{{each}}</a></p>
          {% endif %}
        </div>
        {% endfor %}
      </div>




    </div>















{% endblock %}
