{% extends 'base.html' %}

{% block extra_css %}  .nav__link[name="Home"] {background-color: #1caf9a; color: white;} {% endblock %}

{% block body_block %}

<div class="form-container">


<form method="POST" class="post-form" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p}}
        {{ file_form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}
