{% extends 'base.html' %}
{% block extra_css %} .nav__link[name="Polls"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}
<div class="site-header">
  <div class="site-header__left">


    <span class="site-header__title">
      Polls
    </span>
    <span class="site-header__subtitle">/ Polling station</span>
  </div>
  <div class="site-header__right">
    <span class="site-header__breadcrumb">
    <div class="breadcrumbs">
    <a href="{% url 'news:news_list' %}">Home</a>
     &rsaquo;
 <span>Polls</span>

    </div>
</span>
  </div>
</div>




<div class="content-container ">
  {% if request.user|has_group:"Managers" %}
  <div class="moderator_bar">
    <a href="{% url 'polls:poll_list' %}">Published polls</a>
    <a href="{% url 'polls:unpublishedpolllist' %}">Unpublished polls</a>
    <a href="{% url 'polls:pollform' %}">Create a poll</a>
    <a href="{% url 'polls:poll_submitions' %}">Submitions</a>
  </div>
  {% endif %}








  <div class="Ccard">
    <div class="Ccard_header">
      <div class="Ccard_title">
        Your polls
      </div>
    </div>
    <div class="Ccard_body">

      <div class="questions__wrapper">

        {% for poll in object_list %}
        <div class="question">
          <a class="buttonn" href="{{ poll.get_absolute_url }}" style="display:block;">
            <div class="question_title secondary-hover">
              {{poll.title}}
              <span class="Ccard_subtitle">{{poll.published_date|date:"m.d.y"}}</span>
            </div>
          </a>
          {% if poll.published_date is None %}
          <a href="{% url 'polls:publishpoll' pk=poll.pk %}">publish</a>
          {% endif %}
        </div>


        {% endfor %}
      </div>

    </div>
  </div>
</div>


{% endblock %}
