{% extends 'base.html' %}
{% block extra_css %}  .nav__link[name="Polls"] {background-color: #1caf9a; color: white;} {% endblock %}
{% block body_block %}
{% load static %}
{% load groupfilter %}



  <div class="site-header">
    <div class="site-header__left">


      <span class="site-header__title">
          Polls
      </span>
      <span class="site-header__subtitle">/ Polling station</span>
    </div>
    <div class="site-header__right">
      <span class="site-header__breadcrumb">Home page</span>
    </div>
  </div>



<div class="content-container">

  <div class="Ccard">

  <div class="Ccard_header">


  <div class="Ccard_title">

{{object.title}}
</div>
</div>
<div class="Ccard_body">


  <div class="knowledge-table">
<table>
  <thead>


  <th>User</th>
  {% for each in object.questions.all|dictsort:'order'  %}
  <th>{{each.title}}</th>
  {% endfor %}
    </thead>
  <tbody>
    {% for e in object.submitions.all %}
    <tr>
      <td>{{e.user.userprofile.name}}</td>
      {% for r in e.submitions.all|dictsort:'order' %}
    <td> {{r.ans}}</td>
      {% endfor %}
    </tr>
{% endfor %}
  </tbody>
</table>

</div></div>

</div>

    </div>




  {% endblock %}
